

.card {
  display: flex;
  justify-content: center;
  width: 500px;
  /* background-color: #142031; */
  color:white;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow-color: #0F1928;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  --tw-shadow: var(--tw-shadow-colored);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(122, 119, 119, 0.5);
  z-index: 1000;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #262262;
  border-radius: 70%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loginbtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.card img {
  width: 3rem;
  height: 2.5rem;
  object-fit: contain;
}

.section {
  width: 100%;
  padding: 3rem 2.5rem;
  /* background-color: #142031; */
  background: linear-gradient(60deg, #152133 0%, #142031 35%, #172438 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1.5px solid #342333 ;
}

.header {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: .3rem;
}

.section p {
  text-align: center;
  color: rgb(239 68 68);
  margin-left: 11px;
  margin-top: 15px;
  margin-bottom: 14px;
}

.loginsection {
  margin-top: 2.5rem;
}

.inputGroup,
.success,
.failure {
  margin-bottom: .75rem;
}

.success {
  --tw-text-opacity: 1;
  color: rgb(36 151 130 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(234 250 247 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(160 232 219 / var(--tw-border-opacity)) !important;
  padding: .75rem 1rem !important;
}

.failure {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(254 202 202 / var(--tw-border-opacity)) !important;
  padding: .75rem 1rem !important;
}

.label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
  font-size: .875rem;
}

.section input,
.success,
.failure {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: .375rem;
  font-size: .875rem;
  padding: .5rem 1rem;
  line-height: 21px;
}

.section input:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
  border-color: #262262;
}

.forgotPassword {
  display: block;
  width: 100%;
  text-align: right;
  color: rgb(218, 219, 220);
  text-decoration: none;
  font-weight: 500;
  font-size: .875rem;
}

.loginbtn {
  margin-top: 2.5rem;
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #342333 5%, #3f293c 45%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginbtn:hover {
  background: linear-gradient(45deg, rgb(2, 49, 88) 0%, rgb(5, 36, 84) 100%);
  color: white;
}

.errorBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 2.25rem;
  width: 100%;
  background-color: #ffe6e6;
  color: #e60000;
  border: 1px solid #e60000;
  border-radius: .375rem;
  font-size: .875rem;
  line-height: 1rem;
  margin: 1rem 0;
  padding-right: 1rem;
  margin-top: 24px;

}

.errorText {
  padding-right: 1rem;
}

@media (max-width: 600px) {
  .card {
    height: auto;
    margin: 0 15px;
  }

  .section {
    width: 100%;
  }

  .section input {
    width: 100%;
  }

  h2 {
    font-size: medium;
  }
}
