@import url('@fontsource/public-sans');

.formContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  background-color: #DDE1E5;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px;
  /* border: 1.5px solid #39404f ; */
  border: 2px solid #342333 !important;
}

.headerLine {
  height: 40px;
  /* background-color: #20252A; */
}

.body {
  padding: 2rem;

}

.formContainer h2 {
  margin-top: 12px;
  margin-left: 190px;
  margin-top: 24px;
  text-align: left;
  color: #141111;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
}

.formGroup {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  color: #20252a;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 10px;
  color: #0a1017;
  background-color: #DDE1E5;
  border: 1px solid #d6d9dd;
  height: 46px;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}

.formGroup input:focus,
.formGroup select:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
  border-color: #6e747b;
}

.formContainer button {
  width: 100%;
  padding: 0.75rem;
  /* background: linear-gradient(45deg, rgb(2, 49, 88) 0%, rgb(5, 36, 84) 100%); */
  background: #00acac;
  height: 46px;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-top: 2rem;
}

.formContainer button:hover {
  background: #008181;
  color: white;
}

.responseMessage {
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}

.success {
  color: #FEF9FD;
  background-color: #54B471;
  border-color: #54B471;
}

.error {
  color: #FEF9FD;
  background-color: #DE5242;
  border-color: #DE5242;
}

.emailerror {
  margin: 1rem 0;
  padding: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: #FEF9FD;
  background-color: #DE5242;
  border-color: #DE5242;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.customSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;
}

.customSelect:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.customSelect:focus {
  outline: none;
  border-color: #0a1017;
}

.customSelect::-ms-expand {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(122, 119, 119, 0.5);
  z-index: 1000;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #262262;
  border-radius: 70%;
  animation: spin 1s linear infinite;
}