
.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .welcome{
    display:block;
    width: 100%;
    font-size: 40px !important;
    color: white;
    padding: 10px;
    
  }
  .tag {
    display: flex;
flex-direction: column;
    justify-content: space-around;
    flex: 1 1 10%;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    background: linear-gradient(60deg, rgb(3, 55, 96) 0%, rgb(13, 82, 135) 35%, rgb(36, 117, 179) 100%);
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    transition: background-color 0.3s ease;
    /* text-align: center; */
    width: 100% !important;
    height: 130px;
    padding-top: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    background:  url("../../assests//logo.png"),linear-gradient(60deg, rgb(3, 55, 96) 0%, rgb(13, 82, 135) 35%, rgb(36, 117, 179) 100%);

  }
 
 .deals{
  display: flex;
  justify-content: space-between;
 }


 .totalDeal{
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-family: sans-serif  !important;


 }
 .totalDeals{ 
  font-family:  sans-serif !important;
  font-size: 12px;


 }

 .design{
  background-color: #2d7108;
  color: #ffffff;
  width:100px;
  height: 1px;
  box-shadow: #2d7108;
 }
  .tag:nth-child(1) {
    background: url("../../assests//logo.png"),linear-gradient(90deg, rgba(0,90,158,1) 0%, rgba(22,106,169,1) 35%, rgba(36,112,169,1) 100%);
    
  }
  
  .tag:nth-child(2) {
    /* background-color: #e81123; */
    background:  url("../../assests//logo8.png"),linear-gradient(50deg, rgb(169, 55, 55) 0%, rgb(218, 88, 88) 35%, rgb(226, 108, 108) 100%);
    


  }
  
  .tag:nth-child(3) {
    background:  url("../../assests//logo12.png"),linear-gradient(40deg, rgb(99, 206, 99) 0%, rgb(99, 173, 77) 35%, rgb(84, 146, 69) 100%);
  }
  
  .tag:nth-child(4) {
    background: url("../../assests//logo3.png"), linear-gradient(50deg, rgb(211, 155, 2) 0%, rgb(212, 156, 14) 35%, rgb(244, 195, 72) 100%);
  }
  
  .tag:nth-child(5) {
    background:  url("../../assests//logo.png"),linear-gradient(90deg, rgb(129, 69, 197) 0%, rgb(107, 70, 149) 35%, rgb(87, 57, 122) 100%);
  }
  
  .tag:hover:nth-child(1) {
    background-color: #005a9e;
  }
  
  .tag:hover:nth-child(2) {
    background-color: #c50f1f;
  }
  
  .tag:hover:nth-child(3) {
    background-color: #0b6a0b;
  }
  
  .tag:hover:nth-child(4) {
    background-color: #eaa300;
  }
  
  .tag:hover:nth-child(5) {
    background-color: #4b217a;
  }
  
  .tag:hover {
    background-color: #005a9e;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .tag {
      flex: 1 1 30%;
    }
  }
  
  @media (max-width: 768px) {
    .tag {
      flex: 1 1 45%;
    }
  }
  
  @media (max-width: 480px) {
    .tag {
      flex: 1 1 100%;
    }
  }

  .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(122, 119, 119, 0.5);
    z-index: 1000;
  }
  
  .loader {
    width: 60px;
    height: 60px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #262262;
    border-radius: 70%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .b_title
{
  color: white !important;
}




