
.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .welcome{
    display:block;
    width: 100%;
    font-size: 40px !important;
    color: white;
    padding: 10px;
    
  }
  .tag {
    display: flex;
flex-direction: column;
    justify-content: space-around;
    flex: 1 1 10%;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    background: linear-gradient(60deg, rgb(3, 55, 96) 0%, rgb(13, 82, 135) 35%, rgb(36, 117, 179) 100%);
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
   
    width: 100% !important;
    height: 130px;
    padding-top: 10px;

    background: linear-gradient(60deg, rgb(3, 55, 96) 0%, rgb(13, 82, 135) 35%, rgb(36, 117, 179) 100%);
    
    border:1px solid white ;
    /* background: rgba(255,255,255,0.4); */
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.4);
     position:relative;
   color:white;
     backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   box-shadow: 0 10px 25px rgba(0,0,0,0.2)
  }
 
 .deals{
  display: flex;
  justify-content: space-between;
 }


 .totalDeal{
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-family: sans-serif  !important;


 }
 .totalDeals{ 
  font-family:  sans-serif !important;
  font-size: 12px;


 }

 .design{
  background-color: #2d7108;
  color: #ffffff;
  width:100px;
  height: 1px;
  box-shadow: #2d7108;
 }
  .tag:nth-child(1) {
    background: linear-gradient(90deg, rgba(0,90,158,1) 0%, rgba(22,106,169,1) 35%, rgba(36,112,169,1) 100%);
    
  }
  
  .tag:nth-child(2) {
    /* background-color: #e81123; */
    background: linear-gradient(50deg, rgb(153, 39, 39) 0%, rgb(218, 88, 88) 35%, rgb(233, 116, 116) 100%);
    


  }
  
  .tag:nth-child(3) {
    background: linear-gradient(48deg, rgb(47, 237, 177) 0%, rgb(45, 189, 143) 35%, rgb(0, 137, 92) 100%);

  }
  
  .tag:nth-child(4) {
    background:  linear-gradient(49deg, rgb(172, 127, 2) 0%, rgb(212, 156, 14) 35%, rgb(244, 195, 72) 100%);
    
  }
  
  .tag:nth-child(5) {
    background: linear-gradient(90deg, rgb(129, 69, 197) 0%, rgb(107, 70, 149) 35%, rgb(87, 57, 122) 100%);
    /* backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    */
  }
  
  .tag:hover:nth-child(1) {
    background-color: #005a9e;
  }
  
  .tag:hover:nth-child(2) {
    background-color: #c50f1f;
  }
  
  .tag:hover:nth-child(3) {
    background-color: #0b6a0b;
  }
  
  .tag:hover:nth-child(4) {
    background-color: #eaa300;
  }
  
  .tag:hover:nth-child(5) {
    background-color: #4b217a;
  }
  
  .tag:hover {
    background-color: #005a9e;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .tag {
      flex: 1 1 30%;
    }
  }
  
  @media (max-width: 768px) {
    .tag {
      flex: 1 1 45%;
    }
  }
  
  @media (max-width: 480px) {
    .tag {
      flex: 1 1 100%;
    }
  }

  .loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(122, 119, 119, 0.5);
    z-index: 1000;
  }
  
  .loader {
    width: 60px;
    height: 60px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #262262;
    border-radius: 70%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .b_title
{
  color: white !important;
}




.img{
  height: 70px;
  width: 70px;
}



.welcomefade{
  animation: fadeInAnimation ease 7s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  
  

  100% {
    opacity: 5;
  }
}

