.dashboardContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(60deg, rgb(23, 38, 58) 0%, rgb(46, 70, 114) 35%, rgb(19, 32, 51) 100%);
}

.mainContent {
  flex: 1;
  padding: .5rem 1rem;
  background-color: #dee2e6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: auto;
  background-color: #dee2e6;

}

.b_title {
  align-items: center;
}

.mainContent h1 {
  font-size: 22px;
  color: #262262;

}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

