.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0.1rem;
}
.welcome {
  display: block;
  width: 100%;
  font-size: 20px !important;
  color: white;
  padding: 0px;
}

.container {
  background-color: rgb(0, 0, 0);
  border-radius: 2px; 
  width: 250px; 

}

.barCompleted {
  background-color: rgb(255, 255, 255);
  height: 2px; 
  border-radius: 2px; 
  width: 90%; 
}



.tag {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 10%;
  padding: 0.5rem 2rem;
  border-radius: 6px;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100% !important;
  height: 140px;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.deals {
  display: flex;
  justify-content: space-between;
}

.totalDeal {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-family: sans-serif !important;
  
}
.totalDeals {
  font-family: sans-serif !important;
  font-size: 12px;
}

.globe { 
  margin-left: '17px';
  height: 170px;
  width: 170px;
  opacity: .3;
}

.tag:nth-child(2) {
  background-color: #00ACAC;
  background-image: url('../../assests/tiles/globe.png');
  background-size: 53%;
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode:color-burn;
  background-position-y: 10px;
  background-position-x: 150px;
}
.tag:hover:nth-child(2) {
  background-color: #00ACAC;
}

.tag:nth-child(3) {
  background-color: #348fe2;

}

.tag:hover:nth-child(3) {
  background-color: #348fe2;
}

.tag:nth-child(4) {
  background-color: #8753de;

}

.tag:hover:nth-child(4) {
  background-color: #8753de;
}

.tag:nth-child(5) {
  background-color: #20252a;

}

.tag:hover:nth-child(5) {
  background-color: #20252a;
}

.tag:nth-child(6) {
  background-color: #5b4a43;
  background-image: url('../../assests/tiles/dollar-sign.png');
  background-size: 53%;
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode:color-burn;
  background-position-y: 10px;
  background-position-x: 150px;

}

.tag:hover:nth-child(6) {
  background-color: #5b4a43;
}



.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(122, 119, 119, 0.5);
  z-index: 1000;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #262262;
  border-radius: 70%;
  animation: spin 1s linear infinite;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .tag {
    flex: 1 1 30%;
  }
}

@media (max-width: 768px) {
  .tag {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .tag {
    flex: 1 1 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.b_title {
  color: white !important;
}

.img {
  height: 70px;
  width: 70px;
}

.welcomefade {
  animation: fadeInAnimation ease 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 5;
  }
}


