.welcome {
  display: block;
  width: 100%;
  font-size: 19px !important;
  color: #2D353C;
  margin-bottom: .4rem;
  font-weight: bold;
}

.tagsContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: .5rem;
  width: 100%;
  justify-content: space-around;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1px 12px;
  border-radius: 6px;
  color: #ffffff;
  height: 120px;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  flex: 1 1 auto; /* Allow the tags to grow and shrink as needed */
  min-width: 150px; /* Set a minimum width to prevent tags from becoming too small */
}

.container {
  background-color: rgb(0, 0, 0);
  border-radius: 2px; 
  width: 100%; /* Adjust to 100% to take full available width */
  position: relative;
  bottom: 10px;
}

.barCompleted {
  background-color: rgb(255, 255, 255);
  height: 2px; 
  border-radius: 2px; 
  width: 90%;
}

.deals {
  display: flex;
  justify-content: start;
  font-size: 10px;
  position: relative;
  bottom: 12px; 
}

.totalDeal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 600;
  font-family: sans-serif !important;
  letter-spacing: 1px;
}

.totalDeals {
  font-family: Opens Sans, sans-serif !important;
  font-size: 13.5px;
  font-weight: 500;
  color: rgba(255, 255, 255, .7);
  margin: 0 0 2px;
}

.add_content {
  font-family: Opens Sans, sans-serif !important;
  margin: -5px 0 -3px;
  color: rgba(255, 255, 255, .7);
  position: relative;
  bottom: 7px;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
}

.tag:nth-child(1) {
  background-color: #00ACAC;
  background-image: url('../../assests/tiles/globe.png');
  background-size: 53%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 150px;
}

.tag:hover:nth-child(1) {
  background-color: #00ACAC;
}

.tag:nth-child(2) {
  background-color: #348fe2;
  background-image: url('../../assests/tiles/open-folder.png');
  background-size: 57%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 140px;
}

.tag:hover:nth-child(2) {
  background-color: #348fe2;
}

.tag:nth-child(3) {
  background-color: #8753de;
  background-image: url('../../assests/tiles/hour-glass.png');
  background-size: 57%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 140px;
}

.tag:hover:nth-child(3) {
  background-color: #8753de;
}

.tag:nth-child(4) {
  background-color: #20252a;
  background-image: url('../../assests/tiles/box.png');
  background-size: 57%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 140px;
}

.tag:hover:nth-child(4) {
  background-color: #20252a;
}

.tag:nth-child(5) {
  background-color: #5b4a43;
  background-image: url('../../assests/tiles/dollar.png');
  background-size: 40%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 150px;
}

.tag:hover:nth-child(5) {
  background-color: #5b4a43;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .tag {
    flex: 1 1 18%;
  }
}

@media (max-width: 768px) {
  .tag {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .tag {
    flex: 1 1 100%;
  }
}
