.welcome {
  display: block;
  width: 100%;
  font-size: 19px !important;
  color: #2D353C;
  margin-bottom: .4rem;
  font-weight: bolder;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
  max-height: 240px;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border-radius: 6px;
  color: #ffffff;
  height: 120px;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  flex: 1 1 auto;
  /* Allow the tags to grow and shrink as needed */
  min-width: 230px;
  width: 250px;
}

.barCompleted {
  background-color: rgb(255, 255, 255);
  height: 2px;
  border-radius: 2px;
  width: 90%;
}

.deals {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 10px;
  gap: .4rem;
}

.totalDeal {
  font-size: 26px;
  font-weight: 600;
  font-family: sans-serif !important;
  letter-spacing: 1px;
}

.totalDeals {
  font-family: Opens Sans, sans-serif !important;
  font-size: 13.5px;
  font-weight: 500;
  color: rgba(255, 255, 255, .7);
}

.add_content {
  font-family: Opens Sans, sans-serif !important;
  margin: -5px 0 -3px;
  color: rgba(255, 255, 255, .7);
  position: relative;
  bottom: 7px;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 400;
}

.tag:nth-child(1) {
  background-color: #00ACAC;
  background-image: url('../../assests/tiles/globe.png');
  background-size: 53%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 150px;
}

.tag:hover:nth-child(1) {
  background-color: #00ACAC;
}

.tag:nth-child(2) {
  background-color: #348fe2;
  background-image: url('../../assests/tiles/open-folder.png');
  background-size: 57%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 140px;
}

.tag:hover:nth-child(2) {
  background-color: #348fe2;
}

.tag:nth-child(3) {
  background-color: #8753de;
  background-image: url('../../assests/tiles/hour-glass.png');
  background-size: 57%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 140px;
}

.tag:hover:nth-child(3) {
  background-color: #8753de;
}

.tag:nth-child(4) {
  background-color: #20252a;
  background-image: url('../../assests/tiles/box.png');
  background-size: 57%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 15px;
  background-position-x: 140px;
}

.tag:hover:nth-child(4) {
  background-color: #20252a;
}

.tag:nth-child(5) {
  background-color: #5b4a43;
  background-image: url('../../assests/tiles/dollar.png');
  background-size: 40%;
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: 10px;
  background-position-x: 150px;
}

.tag:hover:nth-child(5) {
  background-color: #5b4a43;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .tag {
    flex: 1 1 80%;
    width: 250px;

  }
}

@media (max-width: 768px) {
  .tag {
    flex: 1 1 45%;
    width: 250px;
  }

  .deals {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .totalDeal {
    font-size: 1.2rem;
  }

  .tagsContainer {
    max-height: unset;
  }

}

@media (max-width: 480px) {
  .tag {
    flex: 1 1 100%;
    width: 250px;
    height: 3.5rem;
    gap: .5rem;
    justify-content: center;
  }

  .totalDeals,
  .totalDeal {
    font-size: .9rem;
  }

  .totalDeals {
    letter-spacing: .03rem;
    margin-bottom: .4rem;
  }
  .tagsContainer :last-child .totalDeals{
    margin-bottom: 0;
  }

}
