.cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin: 30px 10px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    width: 280px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.cardTitle {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.card .line {
    border: .01rem solid #e5e7eb;
    opacity: .5;
    border-radius: .2rem;

}
.icons {
    display: flex;
    gap: 0.5rem; /* Add some space between the icons */
}

.hide {
    display: none;
}

.card:hover .hide {
    display: block;
}

.statusLine {
    display: flex;
    gap: 1rem;
    height: 1.2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.brokerName {
    display: inline !important;
    font-size: 13px;
    height: 100%;
}

.statusButton {
    height: 100%;
    width: 5rem;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    align-content: center;
}

.statusButtonFinished {
    background-color: #00b206;
}

.statusButtonInProgress {
    background-color: #fbc103;
}

.statusButtonStarted {
    background-color: #262262;
}

.filterContainer {
    box-sizing: border-box;
    height: 35px;
    display: flex;
    margin: 10px;
    gap: 2rem;
}

.filterContainer input,
.filterContainer select {
    border: 1px solid #e5e7eb;
    border-radius: .375rem;
    font-size: .875rem;
    padding: .5rem 1rem;
    line-height: 21px;
}

.filterContainer input {
    width: 25%;
}

.filterContainer select {
    width: 12%;
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right 4px top 50%;
}

.filterContainer input:focus,
.filterContainer select:focus {
    outline: 2px solid #0000;
    outline-offset: 2px;
    border-color: #262262;
}
