  .cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin: 30px 0;
  }

  .card {
    background-color: #14324c  !important;
    /* background-image: linear-gradient(to top, rgb(45, 53, 60) 20%, #2f2f2f 100%); */
    border: 1px solid #272727;
    box-shadow: 0 2px 10px rgba(26, 22, 62, 0.2);
    border-radius: 4px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 270px;
    transition: transform 0.3s;
    gap: 8px 0;
    color: rgba(173, 181, 189, 1) !important;
    font-family: "Open Sans",sans-serif;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
  }

  .card .line {
    border: 1px solid #adb5bd;;
    opacity: 0.4;
    border-radius: 0.02rem;
    margin-bottom: 0.7rem;
  }

  .icons {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    font-size: 0.85rem;
    gap: .23rem;
    margin-bottom: 0.2rem;
    color: #fff;
  }

  .editHide {
    display: none;
  }

  .card:hover .editHide {
    display: block;
  }

  .card:hover .statuslinecolor {
    display: block;
  }

  .statusLine {
    display: flex;
    height: 1.2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .statusLine .statuscontainer {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.47rem;
  }

  .nameHeader {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.5rem 0;
    letter-spacing: 0.06rem;
    font-family: "Open Sans",sans-serif;

  }

  .name {
    color: rgba(255, 255, 255, 1) !important;
    font-size: 1rem;
    letter-spacing: .035rem;
    font-family: "Open Sans",sans-serif;
  }

  .statusLine .circle {
    width: 22px;
    height: 22px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(45, 53, 60, 1) !important;
    background-color: #dee2e6;
    cursor: default;
    align-content: center;
  }

  .circle p {
    font-size: 11px;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
    letter-spacing: .04rem;
  }

  .statusButton {
    display: flex;
    width: 5.2rem;
    border-radius: 2.5px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    line-height: 1rem;
    letter-spacing: 1px;
    font-family: "Open Sans",sans-serif;
  }

  .statusButtonFinished {
    background-color: rgba(144, 202, 75, 1) !important;
    border-color: rgba(144, 202, 75, 1) !important;
  }

  .statusButtonInProgress {
    background-color: rgba(245, 156, 26, 1) !important;
    border-color: rgba(245, 156, 26, 1) !important;
  }

  .statusButtonStarted {
    background-color: rgba(255, 91, 87, 1) !important;
    border-color: rgba(255, 91, 87, 1) !important;
  }

  .filterContainer {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    margin: 1px;
    gap: 2rem;
    padding: 15px;
    background-color: rgba(32, 33, 36, 0.06) !important;
    border: 1px solid rgba(32, 33, 36, 0.06) !important;
    border-radius: 5px;
  }

  .filterContainer input,
  .filterContainer select {
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    line-height: 21px;
  }

  .filterContainer input {
    width: 28%;
  }

  .filterContainer select {
    width: 12%;
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right 4px top 50%;
  }

  .filterContainer input:focus,
  .filterContainer select:focus {
    outline: 2px solid #0000;
    outline-offset: 2px;
    border-color: #262262;
  }

  .timestamp {
    font-size: .775em;
    display: flex;
    justify-content: flex-start;
    letter-spacing: 0.08rem;
    font-family: "Open Sans",sans-serif;

  }

  .statuslinecolor {
    display: none;
    border: 0.01rem solid;
    position: absolute;
    width: 90%;
  }

  .noDealsFound {
    display: flex;
    color: rgb(98, 98, 98);
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 30px;
    margin-top: 200px;
    opacity: 0.23;
  }

  .searchInput {
    background-color: #dee2e6;
  }

  .filterSelect {
    background-color: #dee2e6;
    color: rgb(110, 112, 114) !important;
  }