.cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin: 30px 10px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 180px; */
    width: 260px;
    transition: transform 0.3s;
    gap: 14px 0;
}

.card:hover {
    transform: translateY(-10px);
}

.cardTitle {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.card .line {
    border: 1px solid #c0c1c5;
    opacity: .3;
    border-radius: .02rem;
    margin-bottom: .7rem;
}

.icons {
    display: flex;
    gap: 0.5rem;
    /* Add some space between the icons */
}

.hide {
    display: none;
}

.card:hover .hide{
    display: block;
}
.card:hover .statuslinecolor{
    display: block;
}

.statusLine {
    display: flex;
    gap: .5rem;
    height: 1.2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.statusLine .statuscontainer{
    display: flex;
    align-items: center;
    align-content: center;
    gap: .3rem;
    font-size: 12px;
}

.nameHeader {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: .5rem 0;
    letter-spacing: .001rem;
}

.statusLine .circle {
    width: 20px;
    height: 20px;
    border-radius: 2rem;
    border: 1px solid #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    font-size: 10px;
}

.statusButton {
    height: 100%;
    width: 5.5rem;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    align-content: center;
    line-height: .95rem;
}

.statusButtonFinished {
    background-color: #00b206;
    border-color: #00b206 !important;
}

.statusButtonInProgress {
    background-color: #fbc103;
    border-color: #fbc103 !important;

}

.statusButtonStarted {
    background-color: #262262;
    border-color: #262262 !important;

}

.filterContainer {
    box-sizing: border-box;
    height: 70px;
    display: flex;
    margin: 1px;
    gap: 2rem;
    padding: 15px;
    background-color: #f8f7ff;
    border-radius: 5px;
}



.filterContainer input,
.filterContainer select {
    border: 1px solid #e5e7eb;
    border-radius: .375rem;
    font-size: .875rem;
    padding: .5rem 1rem;
    line-height: 21px;
}

.filterContainer input {
    width: 28%;
}

.filterContainer select {
    width: 12%;
    appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right 4px top 50%;
}

.filterContainer input:focus,
.filterContainer select:focus {
    outline: 2px solid #0000;
    outline-offset: 2px;
    border-color: #262262;
}


.timestamp {
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
    letter-spacing: .04rem;
}

.statuslinecolor {
    display: none;
    border: 2px solid;
}