@import url('@fontsource/public-sans');

* {
  font-family: 'Public Sans';
}

.dealcontainer {
  width: 100%;
  height: calc(100px - 20px);
  /* Adjust this to fit the available viewport height */
}

.summaryContainer {
  margin-top: -20px;
}

.summary {
  font-weight: bold;
  text-align: center;
  color: rgb(31, 11, 51);
  font-family: 'Public Sans', sans-serif !important;
  margin-bottom: 15px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #505a63;
}

@media (max-width:763px) {
  .summary {
    font-size: medium;
  }
}
