.card {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem .7rem;
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  max-height: 650px;
  box-shadow:
    0 0 2px rgba(219, 221, 222, 0.1),
    0 0 0 1px rgba(219, 221, 222, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  top: 80px;
  width: 40%;
  position: relative;
}

.input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #495057;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #495057;
}

.loginBackground {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #F5F4F5;
  position: relative;
}

.inputGroup input:focus {
  background-color: #fff;
  border: 1px solid #3D91C1;
}

.inputGroup input:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.formContainer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.name {
  color: #ffffff;
  margin-left: 12px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.3rem;
  font-weight: bolder;
}

.header img {
  width: 3rem;
  height: 2.5rem;
  object-fit: contain;
}

.section {
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.header {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.headingsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1rem;
  color: rgb(218, 219, 220);
}

.section p {
  text-align: center;
  color: rgb(173 180 189);
}

.headingsection h2 {
  color: #262364 !important;
}

.loginsection {
  width: 85%;
}

.reset {
  color: #3D91C1 !important;
  margin-top: 1rem;
}

.inputGroup,
.success,
.failure {
  margin-bottom: 0.75rem;
}

.success {
  --tw-text-opacity: 1;
  color: rgb(36 151 130 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(234 250 247 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(160 232 219 / var(--tw-border-opacity)) !important;
  padding: 0.75rem 1rem !important;
}

.failure {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(254 202 202 / var(--tw-border-opacity)) !important;
  padding: 0.75rem 1rem !important;
}


.curveUpper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #3b637a;
  clip-path: polygon(-2% 0%, 290% 0%, 0% 100%, 0% 100%);
}

.label {
  display: block;
  color: #b1afaf;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}


.inputGroup input,
.success,
.failure {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid #e2e8f0;
  font-size: .875rem;
  height: 70px !important;
  padding: 1.3rem 1rem;
  line-height: 21px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: .375rem;
  max-height: 40px
}

.loginbtn {
  margin-top: .8rem;
  font-weight: 100;
  padding: 10px;
  background: #3D91C1;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.loginbtn:hover {
  background: #3883ae;
  color: rgb(255, 255, 255);
}

.error {
  font-size: 0.8125rem !important;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity)) !important;
  font-size: 0.875rem !important;
  margin-top: 0.25rem !important;
  text-align: left !important;
}

@media (max-width: 600px) {
  .card {
    height: auto;
    margin: 0 15px;
  }

  .section {
    width: 100%;
  }

  .section input {
    width: 100%;
  }

  h2 {
    font-size: medium;
  }
}