.card {
  display: flex;
  padding: 2rem 0rem .7rem;
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  max-height: 650px;
  box-shadow:
    0 0 2px rgba(219, 221, 222, 0.1),
    0 0 0 1px rgba(219, 221, 222, 0.1);
}

.formContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.name {
  color: #ffffff;
  margin-left: 12px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.3rem;
  font-weight: bolder;
}

.reset {
  color: #3D91C1 !important;
}


.clickHereLink {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.clickHereLink:hover {
  color: #3D91C1;
}


.header img {
  width: 3rem;
  height: 2.5rem;
  object-fit: contain;
}

.section {
  width: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.header {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.headingsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1rem;
  color: rgb(218, 219, 220);
}
.headingsection h2 {
  color: #262364 !important;
  font-weight: 700;
}

.rememberpwd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: .7rem;
  gap: 0.25rem;
  text-decoration: none;
}

.rememberpwd a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(166, 167, 169);
}

.section p {
  color: rgb(150, 151, 153);
  font-weight: 100;
}

.loginsection {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}

.inputGroup,
.success,
.failure {
  margin-bottom: 0.75rem;
  text-align: center;
}

.success {
  --tw-text-opacity: 1;
  color: rgb(36 151 130 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(234 250 247 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(160 232 219 / var(--tw-border-opacity)) !important;
  padding: 0.75rem 1rem !important;
}

.failure {
  --tw-text-opacity: 1;
  color: rgb(254 249 253/ var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(222 82 66 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(235 64 52 / var(--tw-border-opacity)) !important;
  padding: 0.60rem 1rem !important;
}

.label {
  color: #505254;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.section input:focus {
  background-color: #fff;
  border: 1px solid #3D91C1;
}
.section input:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  top: 100px;
  width: 35%;
}

.loginBackground {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #F5F4F5;
  position: relative;

}

.curveUpper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #3b637a;
  clip-path: polygon(-2% 0%, 290% 0%, 0% 100%, 0% 100%);
}

.section input::placeholder {
  /* text-align: center; */
  opacity: .8;
}

.section input,
.success,
.failure {
  width: 80%;
  background-color: #f5f5f5;
  border: 1px solid #e2e8f0;
  font-size: .875rem;
  height: 70px !important;
  padding: 1.3rem 1rem;
  line-height: 21px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: .375rem;
  max-height: 40px
}

.loginbtn {
  margin-top: .8rem;
  width: 80%;
  font-weight: 100;
  padding: 10px;
  background: #3D91C1;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



.loginbtn:hover {
  /* background-color: #262262; */
  background: #3883ae;
  color: rgb(255, 255, 255);
}

.error {
  font-size: 0.8125rem !important;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity)) !important;
  font-size: 0.875rem !important;
  margin-top: 0.25rem !important;
  text-align: left !important;
}

@media (max-width: 600px) {
  .card {
    height: auto;
    margin: 0 15px;
  }

  .section {
    width: 100%;
  }

  .section input {
    width: 100%;
  }

  h2 {
    font-size: medium;
  }
}