.gridContainer {
  display: flex;
  flex-direction: column;
  /* height: 500px !important; */
  width: 100%;

  border: none !important;
}

.dataGrid {
  background-color: #f8f9fa;
}

/* .MuiDataGrid-scrollbar .MuiDataGrid-scrollbar--horizontal */
/* {

} */
.dataGrid .MuiDataGrid-footerContainer {
  display: none;
}

.dataGrid .MuiDataGrid-row {
  background-color: #e4e4e4;
}

.dataGrid .MuiDataGrid-row:hover {
  background-color: #edeeee;
}

.dataGrid .MuiDataGrid-cell {
  color: #000000;
}

/* .MuiDataGrid-root .MuiDataGrid-row {
  --rowBorderColor: red;
} */

/* .MuiDataGrid-root {
  border-color: red !important;
} */
/* 
.MuiDataGrid-root {
  --rowBorderColor: red;
} */

/* .css-15n4jlm-MuiDataGrid-root .MuiDataGrid-cell--textCenter {
  border: none !important;
}

.css-15n4jlm-MuiDataGrid-root .MuiDataGrid-cell--textCenter {
  border: none !important;
} */

.css-3eek4p-MuiDataGrid-main {
  background-color: #e8e8ee !important;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
}

.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #262262;
  border-radius: 70%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.css-15n4jlm-MuiDataGrid-root .MuiDataGrid-menuOpen {
  visibility: hidden !important;
  width: auto;
}
