.gridContainer {
    display: flex;
    flex-direction: column;
    height: 570px !important;
    width: 100%;
    /* font-family: 'Public Sans' !important; */
    border: none !important;
}

.dataGrid {
    /* flex-grow: 1; */
    background-color: #f8f9fa;
    /* height: 100%;  */
   
}

.dataGrid .MuiDataGrid-footerContainer {
    display: none;
    
}

/* .dataGrid .MuiDataGrid-columnHeaders {
    background-color: #0078d4;
    color: #ffffff;
    overflow: hidden;
    font-size: larger !important;
    font-weight: 700 !important;
    
} */

.dataGrid .MuiDataGrid-row {
    background-color: #ffffff; 
}

.dataGrid .MuiDataGrid-row:hover {
    background-color: #e0f7fa;
}

.dataGrid .MuiDataGrid-cell {
    color: #000000;
}
/* 
@media (max-width: 768px) {
    .gridContainer {
        height: 520px;
    }
}

@media (max-width: 480px) {
    .gridContainer {
        height: 520px;
    }
} */


.css-15n4jlm-MuiDataGrid-root .MuiDataGrid-cell--textCenter {
    
    border: none !important;
}


.css-15n4jlm-MuiDataGrid-root .MuiDataGrid-cell--textCenter {
   
    border: none !important;
  
}

/* .css-yrdy0g-MuiDataGrid-columnHeaderRow {
   
    background: #d6deec !important;
} */

.css-3eek4p-MuiDataGrid-main {
   
    background-color: #e8e8ee !important;
   
}
