.gridContainer {
    display: flex;
    flex-direction: column;
    height: 525px !important;
    width: 100%;

}

.dataGrid {
    flex-grow: 1;
    background-color: #f8f9fa;
    height: 100%; 
}

.dataGrid .MuiDataGrid-footerContainer {
    display: none;
}

.dataGrid .MuiDataGrid-columnHeaders {
    background-color: #0078d4;
    color: #ffffff;
    overflow: hidden;
    font-size: larger !important;
    font-weight: 700 !important;
}

.dataGrid .MuiDataGrid-row {
    background-color: #ffffff; 
}

.dataGrid .MuiDataGrid-row:hover {
    background-color: #e0f7fa;
}

.dataGrid .MuiDataGrid-cell {
    color: #000000;
}

@media (max-width: 768px) {
    .gridContainer {
        height: 520px;
    }
}

@media (max-width: 480px) {
    .gridContainer {
        height: 520px;
    }
}


