body {
    font-family: 'Public Sans', sans-serif;
    background-color: rgb(248, 250, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2,
.registrationContainer h2,
.formGroup label,
.formGroup input,
.formGroup textarea,
button[type="submit"] {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
}

.backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: rgb(248, 250, 252);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.mainCard {
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    overflow-x: auto;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 29px;
}

.registrationContainer h2 {
    font-size: 22px;
    font-weight: bold;
    color: #262262;
    margin: 0px 0px 4px;
}

.registrationContainer {
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formContainer {
    overflow-y: auto;
    max-height: calc(80vh - 8rem);
    flex-grow: 1;
    padding-right: 10px;
    width: 100%;
}

.logoContainer {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formGroup {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.formGroup label {
    display: block;
    font-weight: normal;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.2;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.formGroup input,
.formGroup textarea,
.formGroup input[type="file"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgb(226, 232, 240);
    background-color: #fff;
    border-radius: 0.375rem;
    font-size: 14px;
    box-sizing: border-box;
}

.formGroup input:focus,
.formGroup textarea:focus {
    outline: none;
    border: 1px solid #2d0c96
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

button[type="submit"] {
    background-color: #262262;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

button[type="submit"]:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%);
}

button[type="submit"]:hover {
    background-color: #2d0c96;
}

button[type="submit"]:hover:before {
    width: 200%;
    height: 200%;
}

button[type="submit"]:active {
    transform: scale(0.95);
}

@media (max-width: 768px) {
    .mainCard {
        flex-direction: column;
        align-items: center;
    }

    .backgroundContainer {
        width: 100%;
    }

    .registrationContainer,
    .logoContainer {
        max-width: none;
        margin-left: 0;
        margin-bottom: 2rem;
    }
}

.logo {
    max-width: 80%;
    max-height: 200px;

}

.logoHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    max-height: 35px;
    margin-right: 1rem;

}

.companyName {
    font-size: 21px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bolder;

}

.formTitle {
    font-size: 1.25rem;
    font-weight: 600;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 0.25rem;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("@fontsource/public-sans");

.formContainer .formGroup:first-of-type {
    margin-top: 40px;
}

.formContainer {
    overflow-y: auto;
    max-height: calc(80vh - 8rem);
    padding-right: 10px;
}

.formContent {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}