@import url("@fontsource/montserrat");
@import url("@fontsource/public-sans");

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(248, 250, 252);
    font-family: 'Public Sans', sans-serif;
    overflow: hidden;
    
}

.navbar {
    background-color: #262262;
    font-family: 'Public Sans', sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createButton {
    background-color: #262262;
    color: white;
    border: none;
    border-radius: 4px;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Public Sans', sans-serif;
}

.navbarTitle {
    margin: 0;
    font-size: 24px;
    padding-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.dropdown span {
    cursor: pointer;
    padding: 10px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    right: 0;
}

.dropdown.show {
    display: block;
}

.dropdownContent.show {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Public Sans', sans-serif;
}

.dropdownContent:hover {
    background-color: #f1f1f1;
}

.dropdownItem a {
    padding: 8px 12px;
    color: #333;
    display: block;
    text-decoration: none;
}

.dropdownItem a:hover {
    background-color: #ddd;
}

.mainContent {
    margin-top: 80px;
    margin-left: 230px;
    padding: 20px;
    background-color: rgb(248, 250, 252);
    height: calc(100vh - 80px);
    overflow: hidden;
}

.formContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 140px;
}

.formContainer h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
}

.formGroup {
    margin-bottom: 1px;
    text-align: left;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Public Sans', sans-serif;
}

.formGroup input,
.formGroup select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #262262;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

.responseMessage {
    position: fixed;
    top: 100px;
    right: 50px;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 8px;
    width: 650px;
    text-align: center;
    z-index: 1001;
    font-size: 16px;
    animation: fadeInOut 4s ease-in-out forwards;
}

.successMessage {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #53ba6b;
}

.errorMessage {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #b14650;
}   

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

.sidePanel {
    background-color: #bfbfe1;
    width: 230px;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    padding-top: 34px;
    padding-left: 30px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    overflow-y: auto;
}

.sidePanel .sidePanelTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #262262;
    padding-right: 30px !important;
    padding-left: 30px;
    margin-bottom: 20px;
}

.sidePanelButtons {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    gap: 20px;
    height: 20px;
}

.sidePanelButton {
    width: 100%;
    background-color: #262262;
    color: white;
    border: none;
    border-radius: 66px !important;
    font-weight: bold;
    font-family: 'Public Sans', sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}

.sidePanelButton:hover {
    background-color: #49006a;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 20px;
    justify-content: space-evenly;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: px;
    width: 100%;
}

@media (max-width: 600px) {
    .cardContainer {
        flex-direction: column;
    }

    .cardList {
        flex-direction: column;
    }
}

.cardTitle {
    font-weight: bold;
}

.card {
    padding: 20px 20px 0 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 175px;
    width: 165px;
    justify-content: space-between;
}

.cardContent {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.statusLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.statusLabel {
    margin-right: 10px;
    padding-bottom: 0px;
    padding-left: 2px;
    margin-bottom: 0px;
}

.brokerName {
    justify-content: space-between;
    padding-bottom: 40px;
    width: 100%;
    font-size: 12px;
    margin-right: 2px;
}

.brokerName span {
    margin-right: px;
}

.statusButton {
    display: inline-block;
    padding: 3px 12px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 25px;
    color: rgb(26, 25, 25);
    background-color: #43d748;
    text-align: center;
}

.gridContainer {
    width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.grid {
    width: 100%;
    border-collapse: collapse;
    max-height: 500px;
    overflow-y: auto;
}


.grid th,
.grid td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.grid th {
    background-color: #262262;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.grid tr:nth-child(even) {
    background-color: #f8f8f8;
}

.grid tr:hover {
    background-color: #f1f1f1;
}


.statusButtonFinished {
    background-color: #43d748;
}

.statusButtonInProgress {
    background-color: #ffcc00;
}

.statusButtonStarted {
    background-color: #98adfb;
}

.linkButton {
    background: none;
    border: none;
    color: rgb(13, 13, 14);
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.cardTags {
    display: flex;
    gap: 100px;
    margin-bottom: 60px;
    padding-right: 180px;

}

.tag {
    background-color: #c5b0e9;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 1.1em;
}

.circleContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.circleone {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #7872c7;
    margin: 0 10px;
}

.circletwo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #da8ed6;
    margin: 0 10px;
}

.circlethree {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ee8d7e;
    margin: 0 10px;
}