.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  height: 100px;
}

.btncancel {
  background-color: rgb(146, 146, 146) !important;
  font-family: 'Public Sans' !important;

}

.btnadded {
  background-color: rgb(66 71 78) !important;
  opacity: .98;
  font-family: 'Public Sans' !important;
}