.gridContainer {
  height: 450px;
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: small;
}

@media (max-width: 768px) {
  .gridContainer {
    height: auto;
  }
}


