.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, rgb(23, 38, 58) 0%, rgb(22, 32, 50) 35%, rgb(19, 32, 51) 100%);

}

.MuiDataGrid-withBorderColor {
  /* background: rgb(14, 27, 64); */
  background: rgb(41, 55, 81);
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(57, 92, 190, 1) 47%); */
}



.MuiDataGrid-virtualScroller {
  background: linear-gradient(58deg, rgba(20, 32, 49, 1) 0%, rgba(29, 46, 70, 1) 35%, rgba(31, 47, 71, 1) 100%);
  color: rgb(232, 229, 229);


}

.MuiDataGrid-root {
  border-color: rgb(99, 99, 99) !important;
  --rowBorderColor: rgb(59, 58, 62) !important;
  box-shadow: 1px 1px 1px 2px #292c38;

}


.MuiDataGrid-root .MuiDataGrid-row {
  --rowBorderColor: rgb(59, 58, 62) !important;
}



/* 
.MuiDataGrid-root {
  --rowBorderColor: rgb(59, 58, 62) !important;
} */




.parent-grid_dataGrid__Uj-3s {
  border: 2px solid #39404f !important;
  backdrop-filter: blur(20px);

}

/* .css-1eed5fa-MuiInputBase-root-MuiInput-root{
  color: white !important;
} */

/* .MuiInputBase-root-MuiInput-root{
  color: white !important;

} */

.css-1klb8j8-MuiFormControl-root-MuiTextField-root-MuiDataGrid-toolbarQuickFilter input {
  color: white !important;
}

.MuiDataGrid-root .MuiDataGrid-container--top [role=row],
.MuiDataGrid-root .MuiDataGrid-container--bottom [role=row] {
  background: linear-gradient(58deg, rgba(20, 32, 49, 1) 0%, rgba(29, 46, 70, 1) 35%, rgba(31, 47, 71, 1) 100%) !important
}



.MuiDataGrid-toolbarContainer button.MuiButton-root {
  display: none;
}

.MuiSvgIcon-root {
  color: white;
}

.css-c6bojz {
  color: white !important;

}

.css-i4bv87-MuiSvgIcon-root {
  color: white
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  /* background: linear-gradient(58deg, rgba(20, 32, 49, 1) 0%, rgba(29, 46, 70, 1) 35%, rgba(31, 47, 71, 1) 100%) !important; */

  background: linear-gradient(90deg, rgb(37 55 80) 0%, rgb(40 60 88) 35%, rgb(51 66 89) 100%) !important;
  color: white !important;

  backdrop-filter: blur(20px);
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: rgb(122, 47, 47) !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  background-color: #1d2a3a;

}