.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, rgb(23, 38, 58) 0%, rgb(22, 32, 50) 35%, rgb(19, 32, 51) 100%);
}

/* Tiles Progress Bar */
.css-eglki6-MuiLinearProgress-root, .css-7p5u54 {
  position: relative;
  bottom: 7px !important; 
  overflow: hidden;
  display: block;
  height: 2px !important;
  border-radius: 2px;
  background-color: rgb(0, 0, 0) !important;
}

.css-5xe99f-MuiLinearProgress-bar1, .css-t752vm {
  background-color: rgb(255, 255, 255) !important;

}

.MuiDataGrid-withBorderColor {
  /* background-color: #20252a; */
  color: #ffffff;
}


.MuiDataGrid-virtualScroller {
  background-color: rgb(242, 243, 244);
  color: #2d353c;
}


.element.style {
  /* background-color: rgb(38, 34, 98);
  background: rgb(238,174,202); */
  background-color: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%) !important;
}

.MuiDataGrid-root {
  /* --rowBorderColor: rgb(59, 58, 62) !important; */
  border-radius: 70px;
}

.css-15n4jlm-MuiDataGrid-root .MuiDataGrid-main>*:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.css-15n4jlm-MuiDataGrid-root .MuiDataGrid-container--top {
  text-transform: uppercase;
}

/* .MuiDataGrid-root.MuiDataGrid-withBorderColor {
  border-color: rgb(126, 80, 19);
} */


.MuiDataGrid-root .MuiDataGrid-row {
  --rowBorderColor: rgb(206, 212, 218) !important;
}

.css-o1n1mm-MuiTypography-root-MuiDialogTitle-root {
  background: linear-gradient(58deg, rgb(33 48 69) 0%, rgb(23 34 51) 35%, rgb(17 50 96) 100%);
}

.css-15n4jlm-MuiDataGrid-root {
  --DataGrid-rowBorderColor: rgb(206, 212, 218) !important;
}

/* 
.MuiDataGrid-root {
  --rowBorderColor: rgb(59, 58, 62) !important;
} */

.parent-grid_dataGrid__Uj-3s {
  border: 2px solid #39404f !important;
  backdrop-filter: blur(20px);

}

.css-1klb8j8-MuiFormControl-root-MuiTextField-root-MuiDataGrid-toolbarQuickFilter .MuiInput-underline:before {
  border-bottom: 1px solid black
}


/* .css-1eed5fa-MuiInputBase-root-MuiInput-root{
  color: white !important;
} */

/* .MuiInputBase-root-MuiInput-root{
  color: white !important;

} */
.css-1klb8j8-MuiFormControl-root-MuiTextField-root-MuiDataGrid-toolbarQuickFilter input {
  color: rgb(1, 1, 1) !important;
}

.MuiDataGrid-root .MuiDataGrid-container--top [role=row],
.MuiDataGrid-root .MuiDataGrid-container--bottom [role=row] {
  background-color: #41454A !important;
  text-transform: uppercase;
}

/* .MuiDataGrid-toolbarContainer button.MuiButton-root {
  display: none;
} */

.MuiDataGrid-toolbarContainer  {
  flex-direction: row-reverse !important;
  padding-right: 30px !important;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root, .css-1rtnrqa{
  background-color: #a13d65 !important;
  color: #fff !important;
  line-height: unset !important;
}
.MuiButton-startIcon>*:nth-of-type(1) {
color: #fff !important;
}
.MuiSvgIcon-root {
  color: rgb(0, 0, 0);
}

.css-c6bojz {
  color: rgb(0, 0, 0) !important;
}

.css-i4bv87-MuiSvgIcon-root, .css-vubbuv {
  color: rgb(128, 130, 132)
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  color: white !important;

  backdrop-filter: blur(20px);
}

.css .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root, .css-ohyacs {
  background: linear-gradient(58deg, rgb(35 39 43) 0%, rgb(79 84 89) 35%, rgb(32 46 59) 100%);
}

.MuiDialogTitle-root+.MuiDialogContent-root {
  text-transform: capitalize;
}

.MuiDialogContent-root {
  overflow: auto !important;
}

.MuiBox-root.cspgfmz {
  margin-bottom: 20px;
}

.css-nnua9j-MuiPaper-root-MuiAlert-root {
  background-color: #DE5242 !important;
  color: #FEF9FD !important;
}

.MuiAlert-message {
  padding: 13px 0px !important;
}


.css-1vooibu-MuiSvgIcon-root {
  margin-bottom: 2.5px;
}

.css-17o1yue-MuiPaper-root-MuiAlert-root {
  background-color: #DE5242 !important;
  color: #FEF9FD !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  padding: 0 19px !important;
}
.MuiDataGrid-main {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    border: 1px solid #cecece;
}
  
.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root, .css-1ty026z{
  padding: 20px 24px !important;
}
