.dialogtitle {
  background-color: #262262 !important;
}

.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  background: #262262 !important;
}

.css-knqc4i-MuiDialogActions-root {
  border-top: 1px solid grey !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  height: 50px !important;
}

.btncancel {
  background-color: rgb(146, 146, 146) !important;
  font-family: 'Public Sans' !important;

}

.btnadded {
  background-color: rgb(66 71 78) !important;
  opacity: .98;
  font-family: 'Public Sans' !important;
}